DATABRICKS_ENDPOINT=...

LLAMA_DEPLOYMENT_NAME=...
MIXTRAL_DEPLOYMENT_NAME=...
DBRX_DEPLOYMENT_NAME=...

DATABRICKS_TOKEN=...
AZURE_KEY=...

AZURE_OPENAI_ENDPOINT=...
AZURE_OPENAI_KEY=...

GPT35_AZURE_OPENAI_DEPLOYMENT_NAME=...
GPT4_AZURE_OPENAI_DEPLOYMENT_NAME=...
OPENAI_API_KEY=...